.gamePage {
  height: calc(100vh - 50px);
  width: 100%;
  background-color: rgb(26, 26, 26);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.character-banner {
  grid-row: 1 / 2;
  font-size: 3rem;
}

.gameImage {
  grid-row: 2 / 3;
  border: 1px white solid;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
  width: min(90%, 850px);
  display: flex;
  align-items: center;
}

.gameImage > img {
  border: none;
  width: 100%;
  height: 100%;
}

.timer {
  grid-row: -2 / -1;
  font-size: 3.5rem;
}
