header.header {
  position: relative;
  z-index: 2;
  background-color: rgb(30, 30, 30);
  border-bottom: 1px solid rgb(53, 53, 53);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  height: 60px;
  padding: 0 min(2%, 25px);
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.499);
}

header .icons {
  display: flex;
  align-items: center;
}

header .leaderboardIcon {
  margin-left: 24px;
}

header .leaderboardIcon > img {
  filter: invert(100%); /* Turns it white */
  width: 30px;
}

header .help,
.leaderboardIcon {
  justify-self: start;
}

header .help:hover,
.leaderboardIcon {
  cursor: pointer;
}

header .logo {
  width: 350px;
  justify-self: center;
  user-select: none;
}

header .logo:hover {
  cursor: pointer;
}

header .userInfo {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 15px;
  user-select: none;
}

.userInfo img {
  width: 40px;
  border-radius: 100%;
}

.userInfo .name {
  font-size: 1.6rem;
}

.logButton {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 4rem;
  border: none;
  border-radius: 5px;
  border: 2px white solid;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
}

.logButton > img {
  width: 17.5px;
}

.logButton:hover {
  cursor: pointer;
  border: 2px white solid;
  background-color: white;
  color: black;
}

.logButton.in {
  display: flex;
  justify-content: center;
  justify-self: end;
  width: 100px;
}

.logButton.in > img {
  width: 22px;
}

.logButton:hover > img {
  filter: brightness(0) saturate(100%);
}
