.leaderboardPage {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 2fr;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(35, 35, 35);
}

.leaderboardPage .title {
  font-size: 3rem;
}
